 * {
     margin: 0;
     padding: 0;
 }
 
 main nav ul li a {
     color: brown;
     text-decoration: none;
     display: inline;
     text-align: right;
 }
 
 main nav ul {
     background-image: url("../imgs/homeschool1.jpg");
     background-repeat: no-repeat;
     background-size: 100%;
     text-align: right;
 }
 
 main nav ul li {
     list-style-type: none;
     padding: 20px;
     display: inline-block;
 }
 
 main nav form {
     padding-top: 15%;
     padding-right: 43%;
     padding-bottom: 100px;
 }
 
 article#one {
     display: inline-block;
     margin-top: 60px;
     margin-left: 50px;
     margin: 30px;
 }
 
 article#one img {
     width: 330px;
     height: 259;
     border-radius: 20px;
     transition: 1s;
     margin-top: 50px;
     margin-left: 40px;
 }
 
 img:hover {
     transform: scale(1.3);
     z-index: 1;
 }
 
 article#one section#two a {
     text-decoration: none;
     display: inline-block;
     color: brown;
     position: relative;
     left: 70px;
     top: 30px;
     font-size: 50px;
 }
 
 #head h2 {
     position: relative;
     left: 30%;
     top: 20px;
     display: inline-block;
     color: pink;
     font-size: xx-large;
 }
 
 #head span {
     color: brown;
 }
 
 body {
     background-color: black;
 }