* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

#lasthed img {
    width: 100%;
    position: relative;
    top: -50px;
    background-color: rgb(8, 8, 8);
}

#lastmain {
    background-color: black;
    position: relative;
    top: -60px;
}

.lastone {
    display: inline-block;
}

.lastone img {
    margin-top: 60px;
    margin-left: 70px;
    margin-bottom: 40px;
    width: 350px;
    border-radius: 20px;
    transition: 1s;
}

.lastone img:hover {
    transform: scale(1.3);
}

.lasttwo h2 {
    display: inline-block;
    position: relative;
    left: 50%;
    color: white;
    margin-bottom: 30px;
}

#lastfot input[type] {
    width: 200px;
    height: 50px;
    position: relative;
    left: 590px;
    top: 40px;
    background-color: black;
    border-radius: 10px;
}

#lastfot {
    background-color: gray;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#lastfot a {
    text-decoration: none;
    font-size: 30px;
    position: relative;
    left: 420px;
    top: 25px;
    color: rgb(231, 23, 23);
}

#lastmain h1 {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 300%;
    padding-top: 30px;
}

#lastmain span {
    color: brown;
}